@import '../variables';

.user-avatar {
    position: absolute;
}    
.user-icon {
    position: relative;
    top: -50%;
    left: -50%;
    transform: translate(5%, -25%);
            
}

.button {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    
}

.dashboard__button {
    width: 100%;
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.3s;
}
   
.dashboard__button--active:hover {
    background-color: $color-primary;
    color: #fff;
}

.conta__corrente {
    margin-top: 60px !important;
}

.conta__corrente h4 {
   color: #49C812;
}

@media screen and (max-width:900px) {
    .conta__corrente {
        margin-top: -60px !important;
        margin-left: 15px;
    }
}



