.hero {
    background-image: url('../assets/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

.blocoHero {
    height: 800px;
    width: 100%;
    align-content: center;
}

.image {
    text-align: right;
}

.text {
    text-align: left;
}